<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plus.server.dal.DamageDAO">
  <resultMap id="BaseResultMap" type="com.plus.server.model.Damage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="express_id" jdbcType="BIGINT" property="expressId" />
    <result column="obj_parent_id" jdbcType="BIGINT" property="objParentId" />
    <result column="obj_child_id" jdbcType="BIGINT" property="objChildId" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <sql id="Base_Column_List">
    id, express_id, obj_parent_id, obj_child_id, pic_url, reason, valid, gmt_create, 
    gmt_modify
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_damage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByModel" parameterType="com.plus.server.model.Damage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_damage
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="expressId != null">
        and express_id = #{expressId,jdbcType=BIGINT}
      </if>
      <if test="objParentId != null">
        and obj_parent_id = #{objParentId,jdbcType=BIGINT}
      </if>
      <if test="objChildId != null">
        and obj_child_id = #{objChildId,jdbcType=BIGINT}
      </if>
      <if test="picUrl != null">
        and pic_url = #{picUrl,jdbcType=VARCHAR}
      </if>
      <if test="reason != null">
        and reason = #{reason,jdbcType=VARCHAR}
      </if>
      <if test="valid != null">
        and valid = #{valid,jdbcType=INTEGER}
      </if>
      <if test="gmtCreate != null">
        and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
      </if>
      <if test="gmtModify != null">
        and gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_damage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.plus.server.model.Damage">
    insert into t_damage (id, express_id, obj_parent_id, 
      obj_child_id, pic_url, reason, 
      valid, gmt_create, gmt_modify
      )
    values (#{id,jdbcType=BIGINT}, #{expressId,jdbcType=BIGINT}, #{objParentId,jdbcType=BIGINT}, 
      #{objChildId,jdbcType=BIGINT}, #{picUrl,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{valid,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.plus.server.model.Damage">
    insert into t_damage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="expressId != null">
        express_id,
      </if>
      <if test="objParentId != null">
        obj_parent_id,
      </if>
      <if test="objChildId != null">
        obj_child_id,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="expressId != null">
        #{expressId,jdbcType=BIGINT},
      </if>
      <if test="objParentId != null">
        #{objParentId,jdbcType=BIGINT},
      </if>
      <if test="objChildId != null">
        #{objChildId,jdbcType=BIGINT},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.plus.server.model.Damage">
    update t_damage
    <set>
      <if test="expressId != null">
        express_id = #{expressId,jdbcType=BIGINT},
      </if>
      <if test="objParentId != null">
        obj_parent_id = #{objParentId,jdbcType=BIGINT},
      </if>
      <if test="objChildId != null">
        obj_child_id = #{objChildId,jdbcType=BIGINT},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.plus.server.model.Damage">
    update t_damage
    set express_id = #{expressId,jdbcType=BIGINT},
      obj_parent_id = #{objParentId,jdbcType=BIGINT},
      obj_child_id = #{objChildId,jdbcType=BIGINT},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteLogicByIds">
    update t_damage set deleteFlag = #{deleteFlag,jdbcType=INTEGER} where id in  <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">#{item}</foreach> 
  </update>
</mapper>