<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plus.server.dal.ExpressRecordDAO">
  <resultMap id="BaseResultMap" type="com.plus.server.model.ExpressRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="express_id" jdbcType="BIGINT" property="expressId" />
    <result column="express_number" jdbcType="VARCHAR" property="expressNumber" />
    <result column="receive_site" jdbcType="VARCHAR" property="receiveSite" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="long_lat" jdbcType="VARCHAR" property="longLat" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <sql id="Base_Column_List">
    id, express_id, express_number, receive_site, address, ip_address, long_lat, valid, 
    gmt_create, gmt_modify
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_express_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByModel" parameterType="com.plus.server.model.ExpressRecord" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_express_record
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="expressId != null">
        and express_id = #{expressId,jdbcType=BIGINT}
      </if>
      <if test="expressNumber != null">
        and express_number = #{expressNumber,jdbcType=VARCHAR}
      </if>
      <if test="receiveSite != null">
        and receive_site = #{receiveSite,jdbcType=VARCHAR}
      </if>
      <if test="address != null">
        and address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="ipAddress != null">
        and ip_address = #{ipAddress,jdbcType=VARCHAR}
      </if>
      <if test="longLat != null">
        and long_lat = #{longLat,jdbcType=VARCHAR}
      </if>
      <if test="valid != null">
        and valid = #{valid,jdbcType=INTEGER}
      </if>
      <if test="gmtCreate != null">
        and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
      </if>
      <if test="gmtModify != null">
        and gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_express_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.plus.server.model.ExpressRecord">
    insert into t_express_record (id, express_id, express_number, 
      receive_site, address, ip_address, 
      long_lat, valid, gmt_create, 
      gmt_modify)
    values (#{id,jdbcType=BIGINT}, #{expressId,jdbcType=BIGINT}, #{expressNumber,jdbcType=VARCHAR}, 
      #{receiveSite,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR}, 
      #{longLat,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.plus.server.model.ExpressRecord">
    insert into t_express_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="expressId != null">
        express_id,
      </if>
      <if test="expressNumber != null">
        express_number,
      </if>
      <if test="receiveSite != null">
        receive_site,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="ipAddress != null">
        ip_address,
      </if>
      <if test="longLat != null">
        long_lat,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="expressId != null">
        #{expressId,jdbcType=BIGINT},
      </if>
      <if test="expressNumber != null">
        #{expressNumber,jdbcType=VARCHAR},
      </if>
      <if test="receiveSite != null">
        #{receiveSite,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="longLat != null">
        #{longLat,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.plus.server.model.ExpressRecord">
    update t_express_record
    <set>
      <if test="expressId != null">
        express_id = #{expressId,jdbcType=BIGINT},
      </if>
      <if test="expressNumber != null">
        express_number = #{expressNumber,jdbcType=VARCHAR},
      </if>
      <if test="receiveSite != null">
        receive_site = #{receiveSite,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        ip_address = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="longLat != null">
        long_lat = #{longLat,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.plus.server.model.ExpressRecord">
    update t_express_record
    set express_id = #{expressId,jdbcType=BIGINT},
      express_number = #{expressNumber,jdbcType=VARCHAR},
      receive_site = #{receiveSite,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      ip_address = #{ipAddress,jdbcType=VARCHAR},
      long_lat = #{longLat,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteLogicByIds">
    update t_express_record set deleteFlag = #{deleteFlag,jdbcType=INTEGER} where id in  <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">#{item}</foreach> 
  </update>
</mapper>