<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plus.server.dal.OrderDAO" >
  <resultMap id="BaseResultMap" type="com.plus.server.model.Order" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="product_spec_id" property="productSpecId" jdbcType="BIGINT" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="price_each" property="priceEach" jdbcType="INTEGER" />
    <result column="price_total" property="priceTotal" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="valid" property="valid" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="boarding_ids" property="boardingIds" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, product_id, product_spec_id, count, price_each, price_total,
    status, valid, gmt_create, gmt_modify,boarding_ids
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKeyForUpdate" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=BIGINT} for update
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.plus.server.model.Order" >
    insert into t_order (id, user_id, product_id, 
      product_spec_id, count, price_each, 
      price_total, status,
      valid, gmt_create,
      gmt_modify,boarding_ids)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{productSpecId,jdbcType=BIGINT}, #{count,jdbcType=INTEGER}, #{priceEach,jdbcType=INTEGER}, 
      #{priceTotal,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{valid,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP},
      #{gmtModify,jdbcType=TIMESTAMP},#{boardingIds})
  </insert>
  <insert id="insertSelective" parameterType="com.plus.server.model.Order" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productSpecId != null" >
        product_spec_id,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="priceEach != null" >
        price_each,
      </if>
      <if test="priceTotal != null" >
        price_total,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
      <if test="gmtModify != null" >
        boarding_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productSpecId != null" >
        #{productSpecId,jdbcType=BIGINT},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="priceEach != null" >
        #{priceEach,jdbcType=INTEGER},
      </if>
      <if test="priceTotal != null" >
        #{priceTotal,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="boardingIds != null" >
        #{boardingIds},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.plus.server.model.Order" >
    update t_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productSpecId != null" >
        product_spec_id = #{productSpecId,jdbcType=BIGINT},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="priceEach != null" >
        price_each = #{priceEach,jdbcType=INTEGER},
      </if>
      <if test="priceTotal != null" >
        price_total = #{priceTotal,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="boardingIds != null" >
        boarding_ids = #{boardingIds},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.plus.server.model.Order" >
    update t_order
    set user_id = #{userId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      product_spec_id = #{productSpecId,jdbcType=BIGINT},
      count = #{count,jdbcType=INTEGER},
      price_each = #{priceEach,jdbcType=INTEGER},
      price_total = #{priceTotal,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      valid = #{valid,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      boarding_ids = #{boardingIds}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByModel" resultMap="BaseResultMap" parameterType="com.plus.server.model.Order">
  	select 
    <include refid="Base_Column_List" />
    from t_order
    <where >
      <if test="id != null" >
        and id = #{id}
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="productId != null" >
        and product_id = #{productId,jdbcType=BIGINT}
      </if>
      <if test="productSpecId != null" >
       and  product_spec_id = #{productSpecId,jdbcType=BIGINT}
      </if>
      <if test="count != null" >
        and count = #{count,jdbcType=INTEGER}
      </if>
      <if test="priceEach != null" >
        and price_each = #{priceEach,jdbcType=INTEGER}
      </if>
      <if test="priceTotal != null" >
        and price_total = #{priceTotal,jdbcType=INTEGER}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="valid != null" >
        and valid = #{valid,jdbcType=INTEGER}
      </if>
      <if test="gmtCreate != null" >
        and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
      </if>
      <if test="gmtModify != null" >
        and gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
      </if>
      <if test="boardingIds != null" >
        and boarding_ids = #{boardingIds}
      </if>
    </where>
  </select>
</mapper>