<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plus.server.dal.OrganizationDAO">
  <resultMap id="BaseResultMap" type="com.plus.server.model.Organization">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="wx_unique_code" jdbcType="VARCHAR" property="wxUniqueCode" />
    <result column="style_id" jdbcType="BIGINT" property="styleId" />
    <result column="media_type" jdbcType="VARCHAR" property="mediaType" />
    <result column="counter_no" jdbcType="VARCHAR" property="counterNo" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="long_lat" jdbcType="VARCHAR" property="longLat" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="brand_ids" jdbcType="VARCHAR" property="brandIds" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, type, address, parent_id, phone, email, wx_unique_code, style_id, media_type, 
    counter_no, valid, long_lat, comment, brand_ids, state, city, gmt_create, gmt_modify
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_organization
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByIds" parameterType="list" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_organization
    where id in
       <foreach collection="list" open="(" close=")" separator="," item="item" >
       	#{item}
       </foreach>
  </select>
  <select id="selectByModel" parameterType="com.plus.server.model.Organization" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_organization
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="type != null">
        and type = #{type,jdbcType=VARCHAR}
      </if>
      <if test="address != null">
        and address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="parentId != null">
        and parent_id = #{parentId,jdbcType=BIGINT}
      </if>
      <if test="phone != null">
        and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
        and email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="wxUniqueCode != null">
        and wx_unique_code = #{wxUniqueCode,jdbcType=VARCHAR}
      </if>
      <if test="styleId != null">
        and style_id = #{styleId,jdbcType=BIGINT}
      </if>
      <if test="mediaType != null">
        and media_type = #{mediaType,jdbcType=VARCHAR}
      </if>
      <if test="counterNo != null">
        and counter_no = #{counterNo,jdbcType=VARCHAR}
      </if>
      <if test="valid != null">
        and valid = #{valid,jdbcType=INTEGER}
      </if>
      <if test="longLat != null">
        and long_lat = #{longLat,jdbcType=VARCHAR}
      </if>
      <if test="comment != null">
        and comment = #{comment,jdbcType=VARCHAR}
      </if>
      <if test="brandIds != null">
        and brand_ids = #{brandIds,jdbcType=VARCHAR}
      </if>
      <if test="state != null">
        and state = #{state,jdbcType=VARCHAR}
      </if>
      <if test="city != null">
        and city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="gmtCreate != null">
        and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
      </if>
      <if test="gmtModify != null">
        and gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectByModelLike" parameterType="com.plus.server.model.Organization" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_organization
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null">
        and name like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
      </if>
      <if test="type != null">
        and type like CONCAT('%',#{type,jdbcType=VARCHAR},'%')
      </if>
      <if test="address != null">
        and address like CONCAT('%',#{address,jdbcType=VARCHAR},'%')
      </if>
      <if test="parentId != null">
        and parent_id = #{parentId,jdbcType=BIGINT}
      </if>
      <if test="phone != null">
        and phone like CONCAT('%',#{phone,jdbcType=VARCHAR},'%')
      </if>
      <if test="email != null">
        and email like CONCAT('%',#{email,jdbcType=VARCHAR},'%')
      </if>
      <if test="wxUniqueCode != null">
        and wx_unique_code like CONCAT('%',#{wxUniqueCode,jdbcType=VARCHAR},'%')
      </if>
      <if test="styleId != null">
        and style_id = #{styleId,jdbcType=BIGINT}
      </if>
      <if test="mediaType != null">
        and media_type like CONCAT('%',#{mediaType,jdbcType=VARCHAR},'%')
      </if>
      <if test="counterNo != null">
        and counter_no like CONCAT('%',#{counterNo,jdbcType=VARCHAR},'%')
      </if>
      <if test="valid != null">
        and valid = #{valid,jdbcType=INTEGER}
      </if>
      <if test="longLat != null">
        and long_lat like CONCAT('%',#{longLat,jdbcType=VARCHAR},'%')
      </if>
      <if test="comment != null">
        and comment like CONCAT('%',#{comment,jdbcType=VARCHAR},'%')
      </if>
      <if test="brandIds != null">
        and brand_ids like CONCAT('%',#{brandIds,jdbcType=VARCHAR},'%')
      </if>
      <if test="state != null">
        and state like CONCAT('%',#{state,jdbcType=VARCHAR},'%')
      </if>
      <if test="city != null">
        and city like CONCAT('%',#{city,jdbcType=VARCHAR},'%')
      </if>
      <if test="gmtCreate != null">
        and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
      </if>
      <if test="gmtModify != null">
        and gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_organization
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.plus.server.model.Organization" useGeneratedKeys="true">
    insert into t_organization (id, name, type, 
      address, parent_id, phone, 
      email, wx_unique_code, style_id, 
      media_type, counter_no, valid, 
      long_lat, comment, brand_ids, 
      state, city, gmt_create, 
      gmt_modify)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{wxUniqueCode,jdbcType=VARCHAR}, #{styleId,jdbcType=BIGINT}, 
      #{mediaType,jdbcType=VARCHAR}, #{counterNo,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER}, 
      #{longLat,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{brandIds,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.plus.server.model.Organization" useGeneratedKeys="true">
    insert into t_organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="wxUniqueCode != null">
        wx_unique_code,
      </if>
      <if test="styleId != null">
        style_id,
      </if>
      <if test="mediaType != null">
        media_type,
      </if>
      <if test="counterNo != null">
        counter_no,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="longLat != null">
        long_lat,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="brandIds != null">
        brand_ids,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="wxUniqueCode != null">
        #{wxUniqueCode,jdbcType=VARCHAR},
      </if>
      <if test="styleId != null">
        #{styleId,jdbcType=BIGINT},
      </if>
      <if test="mediaType != null">
        #{mediaType,jdbcType=VARCHAR},
      </if>
      <if test="counterNo != null">
        #{counterNo,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="longLat != null">
        #{longLat,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="brandIds != null">
        #{brandIds,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.plus.server.model.Organization">
    update t_organization
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="wxUniqueCode != null">
        wx_unique_code = #{wxUniqueCode,jdbcType=VARCHAR},
      </if>
      <if test="styleId != null">
        style_id = #{styleId,jdbcType=BIGINT},
      </if>
      <if test="mediaType != null">
        media_type = #{mediaType,jdbcType=VARCHAR},
      </if>
      <if test="counterNo != null">
        counter_no = #{counterNo,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="longLat != null">
        long_lat = #{longLat,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="brandIds != null">
        brand_ids = #{brandIds,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.plus.server.model.Organization">
    update t_organization
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      wx_unique_code = #{wxUniqueCode,jdbcType=VARCHAR},
      style_id = #{styleId,jdbcType=BIGINT},
      media_type = #{mediaType,jdbcType=VARCHAR},
      counter_no = #{counterNo,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=INTEGER},
      long_lat = #{longLat,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      brand_ids = #{brandIds,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteLogicByIds">
    update t_organization set deleteFlag = #{deleteFlag,jdbcType=INTEGER} where id in  <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">#{item}</foreach> 
  </update>
</mapper>