<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plus.server.dal.ProductSpecDAO" >
  <resultMap id="BaseResultMap" type="com.plus.server.model.ProductSpec" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="name_en" property="nameEn" jdbcType="VARCHAR" />
    <result column="description_simple" property="descriptionSimple" jdbcType="VARCHAR" />
    <result column="description_simple_en" property="descriptionSimpleEn" jdbcType="VARCHAR" />
    <result column="price_original" property="priceOriginal" jdbcType="INTEGER" />
    <result column="price_current" property="priceCurrent" jdbcType="INTEGER" />
    <result column="count_max" property="countMax" jdbcType="INTEGER" />
    <result column="count_sale" property="countSale" jdbcType="INTEGER" />
    <result column="valid" property="valid" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_id, start_date, name, name_en, description_simple, description_simple_en, price_original, price_current,
    count_max, count_sale, valid, gmt_create, gmt_modify
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_product_spec
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKeyForUpdate" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_product_spec
    where id = #{id,jdbcType=BIGINT} for update
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_product_spec
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.plus.server.model.ProductSpec" >
    insert into t_product_spec (id, product_id, start_date, 
      name, name_en, description_simple, description_simple_en, price_original,
      price_current, count_max, count_sale, 
      valid, gmt_create, gmt_modify
      )
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{startDate,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{nameEn,jdbcType=VARCHAR}, #{descriptionSimple,jdbcType=VARCHAR},
      #{descriptionSimpleEn,jdbcType=VARCHAR}, #{priceOriginal,jdbcType=INTEGER},
      #{priceCurrent,jdbcType=INTEGER}, #{countMax,jdbcType=INTEGER}, #{countSale,jdbcType=INTEGER}, 
      #{valid,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.plus.server.model.ProductSpec" >
    insert into t_product_spec
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nameEn != null" >
        name_en,
      </if>
      <if test="descriptionSimple != null" >
        description_simple,
      </if>
      <if test="descriptionSimpleEn != null" >
        description_simple_en,
      </if>
      <if test="priceOriginal != null" >
        price_original,
      </if>
      <if test="priceCurrent != null" >
        price_current,
      </if>
      <if test="countMax != null" >
        count_max,
      </if>
      <if test="countSale != null" >
        count_sale,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null" >
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="descriptionSimple != null" >
        #{descriptionSimple,jdbcType=VARCHAR},
      </if>
      <if test="descriptionSimpleEn != null" >
        #{descriptionSimpleEn,jdbcType=VARCHAR},
      </if>
      <if test="priceOriginal != null" >
        #{priceOriginal,jdbcType=INTEGER},
      </if>
      <if test="priceCurrent != null" >
        #{priceCurrent,jdbcType=INTEGER},
      </if>
      <if test="countMax != null" >
        #{countMax,jdbcType=INTEGER},
      </if>
      <if test="countSale != null" >
        #{countSale,jdbcType=INTEGER},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.plus.server.model.ProductSpec" >
    update t_product_spec
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null" >
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="descriptionSimple != null" >
        description_simple = #{descriptionSimple,jdbcType=VARCHAR},
      </if>
      <if test="descriptionSimpleEn != null" >
        description_simple_en = #{descriptionSimpleEn,jdbcType=VARCHAR},
      </if>
      <if test="priceOriginal != null" >
        price_original = #{priceOriginal,jdbcType=INTEGER},
      </if>
      <if test="priceCurrent != null" >
        price_current = #{priceCurrent,jdbcType=INTEGER},
      </if>
      <if test="countMax != null" >
        count_max = #{countMax,jdbcType=INTEGER},
      </if>
      <if test="countSale != null" >
        count_sale = #{countSale,jdbcType=INTEGER},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.plus.server.model.ProductSpec" >
    update t_product_spec
    set product_id = #{productId,jdbcType=BIGINT},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      name_en = #{nameEn,jdbcType=VARCHAR},
      description_simple = #{descriptionSimple,jdbcType=VARCHAR},
      description_simple_en = #{descriptionSimpleEn,jdbcType=VARCHAR},
      price_original = #{priceOriginal,jdbcType=INTEGER},
      price_current = #{priceCurrent,jdbcType=INTEGER},
      count_max = #{countMax,jdbcType=INTEGER},
      count_sale = #{countSale,jdbcType=INTEGER},
      valid = #{valid,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByModel" resultMap="BaseResultMap" parameterType="com.plus.server.model.ProductSpec" >
    select 
    <include refid="Base_Column_List" />
    from t_product_spec
    <where >
      <if test="productId != null" >
        and product_id = #{productId,jdbcType=BIGINT}
      </if>
      <if test="startDate != null" >
        and start_date = #{startDate,jdbcType=TIMESTAMP}
      </if>
      <if test="name != null" >
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="nameEn != null" >
       and  name_en = #{nameEn,jdbcType=VARCHAR}
      </if>
      <if test="descriptionSimple != null" >
        and description_simple = #{descriptionSimple,jdbcType=VARCHAR}
      </if>
      <if test="descriptionSimpleEn != null" >
        and description_simple_en = #{descriptionSimpleEn,jdbcType=VARCHAR}
      </if>
      <if test="priceOriginal != null" >
        and price_original = #{priceOriginal,jdbcType=INTEGER}
      </if>
      <if test="priceCurrent != null" >
        and price_current = #{priceCurrent,jdbcType=INTEGER}
      </if>
      <if test="countMax != null" >
        and count_max = #{countMax,jdbcType=INTEGER}
      </if>
      <if test="countSale != null" >
        and count_sale = #{countSale,jdbcType=INTEGER}
      </if>
      <if test="valid != null" >
        and valid = #{valid,jdbcType=INTEGER}
      </if>
      <if test="gmtCreate != null" >
        and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
      </if>
      <if test="gmtModify != null" >
        and gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  
  <update id="updateCountSaleByPrimaryKey" parameterType="com.plus.server.model.ProductSpec" >
    update t_product_spec
    set count_sale = count_sale+#{countSale}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>