<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plus.server.dal.StockDAO">
  <resultMap id="BaseResultMap" type="com.plus.server.model.Stock">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="good_id" jdbcType="BIGINT" property="goodId" />
    <result column="good_type" jdbcType="INTEGER" property="goodType" />
    <result column="good_count" jdbcType="INTEGER" property="goodCount" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <sql id="Base_Column_List">
    id, org_id, good_id, good_type, good_count, valid, gmt_create, gmt_modify
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByModel" parameterType="com.plus.server.model.Stock" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="orgId != null">
        and org_id = #{orgId,jdbcType=BIGINT}
      </if>
      <if test="goodId != null">
        and good_id = #{goodId,jdbcType=BIGINT}
      </if>
      <if test="goodIdList != null">
        and good_id in
	       <foreach collection="goodIdList" open="(" close=")" separator="," item="item" >
	       	#{item}
	       </foreach>
      </if>
      <if test="goodType != null">
        and good_type = #{goodType,jdbcType=INTEGER}
      </if>
      <if test="goodCount != null">
        and good_count = #{goodCount,jdbcType=INTEGER}
      </if>
      <if test="valid != null">
        and valid = #{valid,jdbcType=INTEGER}
      </if>
      <if test="gmtCreate != null">
        and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
      </if>
      <if test="gmtModify != null">
        and gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectByModelLike" parameterType="com.plus.server.model.Stock" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="orgId != null">
        and org_id = #{orgId,jdbcType=BIGINT}
      </if>
      <if test="goodId != null">
        and good_id = #{goodId,jdbcType=BIGINT}
      </if>
      <if test="goodIdList != null">
        and good_id in
	       <foreach collection="goodIdList" open="(" close=")" separator="," item="item" >
	       	#{item}
	       </foreach>
      </if>
      <if test="goodType != null">
        and good_type = #{goodType,jdbcType=INTEGER}
      </if>
      <if test="goodCount != null">
        and good_count = #{goodCount,jdbcType=INTEGER}
      </if>
      <if test="valid != null">
        and valid = #{valid,jdbcType=INTEGER}
      </if>
      <if test="gmtCreate != null">
        and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
      </if>
      <if test="gmtModify != null">
        and gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_stock
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.plus.server.model.Stock" useGeneratedKeys="true">
    insert into t_stock (id, org_id, good_id, 
      good_type, good_count, valid, 
      gmt_create, gmt_modify)
    values (#{id,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, #{goodId,jdbcType=BIGINT}, 
      #{goodType,jdbcType=INTEGER}, #{goodCount,jdbcType=INTEGER}, #{valid,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.plus.server.model.Stock" useGeneratedKeys="true">
    insert into t_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="goodId != null">
        good_id,
      </if>
      <if test="goodType != null">
        good_type,
      </if>
      <if test="goodCount != null">
        good_count,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="goodId != null">
        #{goodId,jdbcType=BIGINT},
      </if>
      <if test="goodType != null">
        #{goodType,jdbcType=INTEGER},
      </if>
      <if test="goodCount != null">
        #{goodCount,jdbcType=INTEGER},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.plus.server.model.Stock">
    update t_stock
    <set>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="goodId != null">
        good_id = #{goodId,jdbcType=BIGINT},
      </if>
      <if test="goodType != null">
        good_type = #{goodType,jdbcType=INTEGER},
      </if>
      <if test="goodCount != null">
        good_count = #{goodCount,jdbcType=INTEGER},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.plus.server.model.Stock">
    update t_stock
    set org_id = #{orgId,jdbcType=BIGINT},
      good_id = #{goodId,jdbcType=BIGINT},
      good_type = #{goodType,jdbcType=INTEGER},
      good_count = #{goodCount,jdbcType=INTEGER},
      valid = #{valid,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteLogicByIds">
    update t_stock set deleteFlag = #{deleteFlag,jdbcType=INTEGER} where id in  <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">#{item}</foreach> 
  </update>
</mapper>