<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plus.server.dal.UserDAO">
  <resultMap id="BaseResultMap" type="com.plus.server.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password_hash" jdbcType="VARCHAR" property="passwordHash" />
    <result column="password_salt" jdbcType="VARCHAR" property="passwordSalt" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="last_long_lat" jdbcType="VARCHAR" property="lastLongLat" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, password_hash, password_salt, org_id, last_long_lat, valid, gmt_create, 
    gmt_modify
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByModel" parameterType="com.plus.server.model.User" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="passwordHash != null">
        and password_hash = #{passwordHash,jdbcType=VARCHAR}
      </if>
      <if test="passwordSalt != null">
        and password_salt = #{passwordSalt,jdbcType=VARCHAR}
      </if>
      <if test="orgId != null">
        and org_id = #{orgId,jdbcType=BIGINT}
      </if>
      <if test="lastLongLat != null">
        and last_long_lat = #{lastLongLat,jdbcType=VARCHAR}
      </if>
      <if test="valid != null">
        and valid = #{valid,jdbcType=INTEGER}
      </if>
      <if test="gmtCreate != null">
        and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
      </if>
      <if test="gmtModify != null">
        and gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectByModelLike" parameterType="com.plus.server.model.User" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null">
        and name like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
      </if>
      <if test="passwordHash != null">
        and password_hash like CONCAT('%',#{passwordHash,jdbcType=VARCHAR},'%')
      </if>
      <if test="passwordSalt != null">
        and password_salt like CONCAT('%',#{passwordSalt,jdbcType=VARCHAR},'%')
      </if>
      <if test="orgId != null">
        and org_id = #{orgId,jdbcType=BIGINT}
      </if>
      <if test="lastLongLat != null">
        and last_long_lat like CONCAT('%',#{lastLongLat,jdbcType=VARCHAR},'%')
      </if>
      <if test="valid != null">
        and valid = #{valid,jdbcType=INTEGER}
      </if>
      <if test="gmtCreate != null">
        and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
      </if>
      <if test="gmtModify != null">
        and gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.plus.server.model.User" useGeneratedKeys="true">
    insert into t_user (id, name, password_hash, 
      password_salt, org_id, last_long_lat, 
      valid, gmt_create, gmt_modify
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{passwordHash,jdbcType=VARCHAR}, 
      #{passwordSalt,jdbcType=VARCHAR}, #{orgId,jdbcType=BIGINT}, #{lastLongLat,jdbcType=VARCHAR}, 
      #{valid,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.plus.server.model.User" useGeneratedKeys="true">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="passwordHash != null">
        password_hash,
      </if>
      <if test="passwordSalt != null">
        password_salt,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="lastLongLat != null">
        last_long_lat,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="passwordHash != null">
        #{passwordHash,jdbcType=VARCHAR},
      </if>
      <if test="passwordSalt != null">
        #{passwordSalt,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="lastLongLat != null">
        #{lastLongLat,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.plus.server.model.User">
    update t_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="passwordHash != null">
        password_hash = #{passwordHash,jdbcType=VARCHAR},
      </if>
      <if test="passwordSalt != null">
        password_salt = #{passwordSalt,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="lastLongLat != null">
        last_long_lat = #{lastLongLat,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.plus.server.model.User">
    update t_user
    set name = #{name,jdbcType=VARCHAR},
      password_hash = #{passwordHash,jdbcType=VARCHAR},
      password_salt = #{passwordSalt,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=BIGINT},
      last_long_lat = #{lastLongLat,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteLogicByIds">
    update t_user set deleteFlag = #{deleteFlag,jdbcType=INTEGER} where id in  <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">#{item}</foreach> 
  </update>
</mapper>